.light-button {
    background: var(--bg-light);
    color: var(--bg-dark);
    border: 0;
    border-radius: 36px;

    width: 80%;
    height: 40px;
    font-weight: 500;
}

.dark-button {
    background: var(--bg-dark);
    color: var(--bg-light);
    border: 0;
    border-radius: 36px;

    width: 80%;
    height: 40px;
    font-weight: 500;
}