.app-main {
    height: 100vh;
}

.app-main > section {
    height: calc(100vh - 230px);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.bottom-button {
    height: 100%;
    width: 100%;
    margin-bottom: 22%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}