* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #F2FCFF;
    --bg-header-operator: #D6F5FD;
    --bg-header-user: #F2FCFF;
    --bg-dark: #06495C;
    --bg-light: #D6F5FD;
    --bg-secondary-light: #75D3EE;
    --bg-third-light: #F2FCFF;
    --border-dark: #03252F;
    --border-light: #06495C;
    --dark-placeholder: #B2CDD3;
    --light-placeholder: #77A0AB;
    --text: #000000;
    --text-secondary: #75D3EE;
}

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, button, textarea {
    font: 400 1rem 'Rubik', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

div#root {
    height: auto;
}