.input-label-pwd {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-label-pwd > section {
    width: 80%;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.input-label-pwd > section h3 {
    font-weight: 500;
}

.input-label-pwd button {
    height: 100%;
    width: 44px;

    background: transparent;
    border: 0;
    outline-color: #FFC234;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dark-input-pwd {
    background: var(--bg-dark);
    color: var(--dark-placeholder);
    border: 2px solid var(--border-dark);
    border-radius: 6px;

    width: 80%;
    height: 40px;

    outline-color: #FFC234;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.dark-input-pwd input {
    background: transparent;
    color: var(--dark-placeholder);
    border: 0;
    height: 100%;
    width: calc(100% - 44px);
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 1px;
    outline-color: #FFC234;
}

.dark-input-pwd input::placeholder {
    font-weight: 400;
    letter-spacing: 0;
    color: var(--dark-placeholder);
    opacity: 0.9;
}

.light-input-pwd {
    background: var(--bg-light);
    color: var(--light-placeholder);
    border: 2px solid var(--border-light);
    border-radius: 6px;

    width: 80%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.light-input-pwd input {
    background: transparent;
    color: var(--light-placeholder);
    border: 0;
    height: 100%;
    width: calc(100% - 44px);
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    outline: 0;
    letter-spacing: 1px;
}

.light-input-pwd input::placeholder {
    font-weight: 400;
    letter-spacing: 0;
    color: var(--light-placeholder);
    opacity: 0.9;
}

input[type=password] {
    letter-spacing: 4px;
    font-weight: 900;
}

.eyePassword {
    height: 36px;
    width: 36px;
    padding-right: 8px;
    color: var(--dark-placeholder);
}