#modal {
    /* display: none; */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(15, 15, 15, 0.66);
    /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 220px;
    width: 500px;
    background-color: #f0f0f0;
    border-radius: 28px;
    border: 3px solid #000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4)
}

#head-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    width: 100%;
}

#head-modal p {
    padding-top: 12px;
}

#foot-modal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    padding: 12px;
}

#foot-modal button {
    width: 80px;
    padding: 3px 15px;
}

#foot-modal .no-button:hover,
#foot-modal .no-button:focus {
    border-color: #ff2111;
}

#foot-modal .no-button:active {
    border-color: #ff0000;
}

#foot-modal .yes-button:hover,
#foot-modal .yes-button:focus {
    border-color: #168bff;
}


/* 
    modal animation
*/
.animate {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.2)} 
    to {-webkit-transform: scale(1)}
    }

@keyframes animatezoom {
    from {transform: scale(0.2)} 
    to {transform: scale(1)}
}