* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
    width: 100vw;
  }
  
  body {
    height: 100vh;
    width: 100vw;
  }
  
  html, body {
    color: #181818;
    background: #f0f0f0;
    
    /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
  }
  
  body, input, button, textarea {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 1.6em;
    font-weight: 500;
  }
  
  h3 {
    font-size: 1.4em;
    font-weight: 400;
  }
  
  input {
    font-weight: 400;
  }
  
  a, button {
    cursor: pointer;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    font-size: 1.05em;
    font-weight: 300;
  }